@model CreateIndividualBrokerRequest
@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "Create Individual Broker";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}


<h3>Create a individual broker account</h3>
<p>This would include your details and your business address</p>

<form asp-action="CreateIndividualBroker" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <h6>Key Staff 1</h6>
    <div class="form-group">
        <label asp-for="BrokerAdmin[0].FirstName" class="control-label">First Name</label>
        <input asp-for="BrokerAdmin[0].FirstName" class="form-control" />
        <span asp-validation-for="BrokerAdmin[0].FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BrokerAdmin[0].LastName" class="control-label">Last Name</label>
        <input asp-for="BrokerAdmin[0].LastName" class="form-control" />
        <span asp-validation-for="BrokerAdmin[0].LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BrokerAdmin[0].OtherNames" class="control-label">Other Name</label>
        <input asp-for="BrokerAdmin[0].OtherNames" class="form-control" />
        <span asp-validation-for="BrokerAdmin[0].OtherNames" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BrokerAdmin[0].Email" class="control-label">Email</label>
        <input asp-for="BrokerAdmin[0].Email" class="form-control" />
        <span asp-validation-for="BrokerAdmin[0].Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BrokerAdmin[0].MobileNumber" class="control-label">Mobile Number</label>
        <input asp-for="BrokerAdmin[0].MobileNumber" class="form-control" />
        <span asp-validation-for="BrokerAdmin[0].MobileNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BrokerAdmin[0].Gender">Gender</label>
        <select asp-for="BrokerAdmin[0].Gender" class="form-control" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <span asp-validation-for="BrokerAdmin[0].Gender" class="text-danger"></span>
    </div>

    <p>Business Address Info</p>
    <hr />
    <div class="form-group">
        <label asp-for="StreetNo">Street Number</label>
        <input asp-for="StreetNo" class="form-control" />
        <span asp-validation-for="StreetNo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StreetName">Streetname</label>
        <input asp-for="StreetName" class="form-control" />
        <span asp-validation-for="StreetName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City">City</label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="State">State</label>
        <input asp-for="State" class="form-control" />
        <span asp-validation-for="State" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ZipCode">ZipCode</label>
        <input asp-for="ZipCode" class="form-control" />
        <span asp-validation-for="ZipCode" class="text-danger"></span>
    </div>

    <hr />
    <div class="form-group">
        <label asp-for="StockBrokerLicenseNumber">Stock Brokers License</label>
        <input asp-for="StockBrokerLicenseNumber" class="form-control" />
        <span asp-validation-for="StockBrokerLicenseNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateCertified">Date Certified</label>
        <input asp-for="DateCertified" type="date" class="form-control" />
        <span asp-validation-for="DateCertified" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProfessionalQualification">Professional Qualification</label>
        <input asp-for="ProfessionalQualification" class="form-control" id="ProfessionalQualification" name="ProfessionalQualification" required>
        <span asp-validation-for="ProfessionalQualification" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BrokerAdmin[0].Password">Password</label>
        <input asp-for="BrokerAdmin[0].Password" type="password" class="form-control" />
        <span asp-validation-for="BrokerAdmin[0].Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BrokerAdmin[0].ConfirmPassword">Confirm Password</label>
        <input asp-for="BrokerAdmin[0].ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="BrokerAdmin[0].ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>