@model CreateFreelanceBrokerRequest
@Html.AntiForgeryToken()

<h1>Freelance Broker</h1>
<hr />
@{
    ViewData["Title"] = "Freelance Broker";
}

@if (ViewBag.BrokerCreatedMessage != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.BrokerCreatedMessage
    </div>
}

<h3>Create a frelance broker account</h3>
<p>This would include your details and professional qualification</p>

<form asp-action="CreateFreelanceBroker" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <hr />
    <div class="form-group">
        <label asp-for="BrokerAdmin[0].FirstName" class="control-label">First Name</label>
        <input asp-for="BrokerAdmin[0].FirstName" class="form-control" />
        <span asp-validation-for="BrokerAdmin[0].FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BrokerAdmin[0].LastName" class="control-label">Last Name</label>
        <input asp-for="BrokerAdmin[0].LastName" class="form-control" />
        <span asp-validation-for="BrokerAdmin[0].LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BrokerAdmin[0].OtherNames" class="control-label">Other Name</label>
        <input asp-for="BrokerAdmin[0].OtherNames" class="form-control" />
        <span asp-validation-for="BrokerAdmin[0].OtherNames" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BrokerAdmin[0].Email" class="control-label">Email</label>
        <input asp-for="BrokerAdmin[0].Email" class="form-control" />
        <span asp-validation-for="BrokerAdmin[0].Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BrokerAdmin[0].MobileNumber" class="control-label">Mobile Number</label>
        <input asp-for="BrokerAdmin[0].MobileNumber" class="form-control" />
        <span asp-validation-for="BrokerAdmin[0].MobileNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BrokerAdmin[0].Gender">Gender</label>
        <select asp-for="BrokerAdmin[0].Gender" class="form-control" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <span asp-validation-for="BrokerAdmin[0].Gender" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProfessionalQualification">Professional Qualification</label>
        <input asp-for="ProfessionalQualification" class="form-control" id="ProfessionalQualification" name="ProfessionalQualification" required>
        <span asp-validation-for="ProfessionalQualification" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BrokerAdmin[0].Password">Password</label>
        <input asp-for="BrokerAdmin[0].Password" type="password" class="form-control" />
        <span asp-validation-for="BrokerAdmin[0].Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BrokerAdmin[0].ConfirmPassword">Confirm Password</label>
        <input asp-for="BrokerAdmin[0].ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="BrokerAdmin[0].ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
