@model CreateCorporateBrokerRequest
@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "Create Corporate Broker";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h3>Create a corporate broker account</h3>
<p>This would include company details and two key staff information</p>

<form asp-action="CreateCorporateBroker" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <h6>Company Information</h6>
        <div class="form-group">
            <label asp-for="CompanyName">Company Name</label>
            <input asp-for="CompanyName" class="form-control" />
            <span asp-validation-for="CompanyName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CompanyEmail">Company Email</label>
            <input asp-for="CompanyEmail" class="form-control" />
            <span asp-validation-for="CompanyEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CompanyMobileNumber">Company Mobile Number</label>
            <input asp-for="CompanyMobileNumber" class="form-control" />
            <span asp-validation-for="CompanyMobileNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StreetNo">Street Number</label>
            <input asp-for="StreetNo" class="form-control" />
            <span asp-validation-for="StreetNo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StreetName">Street Name</label>
            <input asp-for="StreetName" class="form-control" />
            <span asp-validation-for="StreetName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="City">City</label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="State">State</label>
            <input asp-for="State" class="form-control" />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ZipCode">ZipCode</label>
            <input asp-for="ZipCode" class="form-control" />
            <span asp-validation-for="ZipCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CACRegistrationNumber">CAC Registration Number</label>
            <input asp-for="CACRegistrationNumber" class="form-control" />
            <span asp-validation-for="CACRegistrationNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StockBrokerLicense">Stock Broker License</label>
            <input asp-for="StockBrokerLicense" class="form-control" />
            <span asp-validation-for="StockBrokerLicense" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateCertified">Date Certified</label>
            <input asp-for="DateCertified" type="date" class="form-control" />
            <span asp-validation-for="DateCertified" class="text-danger"></span>
        </div>
    </div>

    <hr />
    <!-- Users Details -->
    <!-- First User Details -->
    <h6>Key Staff 1</h6>
    <div class="form-group">
        <label asp-for="Users[0].FirstName" class="control-label">First Name</label>
        <input asp-for="Users[0].FirstName" class="form-control" />
        <span asp-validation-for="Users[0].FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Users[0].LastName" class="control-label">Last Name</label>
        <input asp-for="Users[0].LastName" class="form-control" />
        <span asp-validation-for="Users[0].LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Users[0].OtherNames" class="control-label">Other Name</label>
        <input asp-for="Users[0].OtherNames" class="form-control" />
        <span asp-validation-for="Users[0].OtherNames" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Users[0].Email" class="control-label">Email</label>
        <input asp-for="Users[0].Email" class="form-control" />
        <span asp-validation-for="Users[0].Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Users[0].MobileNumber" class="control-label">Mobile Number</label>
        <input asp-for="Users[0].MobileNumber" class="form-control" />
        <span asp-validation-for="Users[0].MobileNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Users[0].Gender">Gender</label>
        <select asp-for="Users[0].Gender" class="form-control" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <span asp-validation-for="Users[0].Gender" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Users[0].PositionInOrg">Position In Organisation</label>
        <input asp-for="Users[0].PositionInOrg" class="form-control" />
        <span asp-validation-for="Users[0].PositionInOrg" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Users[0].DateOfEmployment">Date Of Employment</label>
        <input asp-for="Users[0].DateOfEmployment" type="date" class="form-control" />
        <span asp-validation-for="Users[0].DateOfEmployment" class="text-danger"></span>
    </div>

    <!-- Second User Details -->
    <h6>Key Staff 2</h6>
    <div class="form-group">
        <label asp-for="Users[1].FirstName" class="control-label">First Name</label>
        <input asp-for="Users[1].FirstName" class="form-control" />
        <span asp-validation-for="Users[1].FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Users[1].LastName" class="control-label">Last Name</label>
        <input asp-for="Users[1].LastName" class="form-control" />
        <span asp-validation-for="Users[1].LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Users[1].OtherNames" class="control-label">Other Name</label>
        <input asp-for="Users[1].OtherNames" class="form-control" />
        <span asp-validation-for="Users[1].OtherNames" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Users[1].Email" class="control-label">Email</label>
        <input asp-for="Users[1].Email" class="form-control" />
        <span asp-validation-for="Users[1].Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Users[1].MobileNumber" class="control-label">Mobile Number</label>
        <input asp-for="Users[1].MobileNumber" class="form-control" />
        <span asp-validation-for="Users[1].MobileNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Users[1].Gender">Gender</label>
        <select asp-for="Users[1].Gender" class="form-control" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
        <span asp-validation-for="Users[1].Gender" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Users[1].PositionInOrg">Position In Organisation</label>
        <input asp-for="Users[1].PositionInOrg" class="form-control" />
        <span asp-validation-for="Users[1].PositionInOrg" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Users[1].DateOfEmployment">Date Of Employment</label>
        <input asp-for="Users[1].DateOfEmployment" type="date" class="form-control" />
        <span asp-validation-for="Users[1].DateOfEmployment" class="text-danger"></span>
    </div>

    <!-- Add other user fields here if needed -->

    <button type="submit" class="btn btn-primary">Create Broker</button>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}