@model EasyStocks.DTO.Responses.BrokerListResponse

<!-- Display Individual Brokers -->
<h1>Individual Brokers</h1>
<ul>
    @foreach (var broker in Model.Brokers)
    {
        <li>@broker.CompanyName - @broker.CompanyEmail</li>
    }
</ul>
