@model UpdateFreelanceBrokerRequest
@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "Update Freelance Broker";
}

<h2>@ViewData["Title"]</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

<h3>Edit freelance broker account</h3>

<form asp-action="UpdateFreelanceBroker" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" name="_method" value="PUT" />
    <input type="hidden" asp-for="BrokerId" />

    <div class="form-group">
        <label asp-for="ProfessionalQualification">Date Certified</label>
        <input asp-for="ProfessionalQualification" type="date" class="form-control" />
        <span asp-validation-for="ProfessionalQualification" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update Broker</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}